.state-grid {
    display: flex; 
    justify-content: space-evenly; 
    background-color: #EADFCB;
 
}

@media screen and (max-width: 767px) {
    .state-grid {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}