.state-park-grid {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    width: 100vw; 
    justify-items: center; 
}

@media screen and (max-width: 1024px) {
    .state-park-grid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }
}

@media screen and (max-width: 767px) {
    .state-park-grid {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
