.tracker-grid {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.park-tracker-container {
    background-color: #E9E5D5;
}

.park-tracker-heading {
    font-size: 5em; 
}

.park-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px; 
    justify-content: center; 
}

input[type='checkbox'] {
    accent-color: #006400;
}

.park-tracker-name {
    text-decoration: line-through;

}

.park-tracker-name-second, 
.park-tracker-name {
    font-size: .8em; 
}

.counter {
    font-size: 1.4em; 
    font-style: italic; 
    font-weight: bolder; 
}

.retro {
    height: 100px;
    width: 100px; 
}

.retro:hover {
    border: 3px solid #fcffcd;
}

.search-bar {
    border: 2px solid #006400;
    border-radius: 20px; 
    width: 165px; 
    height: 20px; 
    text-align: center; 
    background-color: #dfd3c3;
    margin-right: 10px;
}

::placeholder {
    color: black;
    opacity: .7; 
    font-style: italic;
  }

  .sad-path {
    display: flex; 
    justify-content: center; 
  }

  .sad-path-message {
    width: 40%; 
    color: #382819;
  }

  .search-container {
    display: flex; 
    justify-content: center; 
  }

  .clear {
    color: #382819;
  }

@media screen and (max-width: 1024px) {
    .tracker-grid {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .tracker-grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .counter {
        font-size: 1em; 
    }
}


