.tracker-grid {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.park-tracker-container {
    background-color: #E9E5D5;
}

.park-tracker-heading {
    font-size: 4em; 
}

.tracker-image {
    height: 40px; 
    width: 30px;
}

.park-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

input[type='checkbox'] {
    accent-color: #006400;
}

.park-tracker-name {
    text-decoration: line-through;

}

.park-tracker-name-second, 
.park-tracker-name {
    font-size: .8em; 
}

.visited-image {
    height: 32px;
    width: 18px;
}

.counter {
    font-size: 1.4em; 
    font-style: italic; 
    font-weight: bolder; 
}

@media screen and (max-width: 767px) {
    .tracker-grid {
        display: grid; 
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }
    .counter {
        font-size: 1em; 
    }
}