.fee-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
    .fee-grid{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .fee-grid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
    }
}