h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 7em; 
    margin-bottom: 0; 
    margin-top: 0; 
    color: #382819;
}

active {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #382819; 
    /* height: 300px; */
    
    /* background-image: url("https://garden.spoonflower.com/c/8570085/p/f/m/W-WsMiioM27SiiQiv77W7vYn9LtJK1fgujPFc-wsZVJahKP0kewAUQ/Vintage%20Woodland%20Deer%2C%20Retro%20Animal%20Decor%2C%20Green%20Forest%20Pine%20Trees%2C%20Evergreen%20Oak%20Tree%2C%20Stag%2C%20Doe%20and%20Fawn.jpg"); */
    /* background-image: url("https://garden.spoonflower.com/c/15461329/p/f/m/lVOecNPf6C_fXBcUYJuQhsM3lKn0X27Fnt1MswRon8A-ZbQO1v6tV9Y/Enchanted%20Mountain%20Landscape%2C%20Wild%20Woodland%20Deer%2C%20Pine%20Tree%20Woods%20Illustration%20in%20Forest%20Green%20Mint%20Green%20and%20Blue%20(Large%20Scale).jpg"); */
    background-image: url("https://garden.spoonflower.com/c/7236339/p/f/m/lkqSRmiV784V__upRxBcc4bEIp54Qn0lpRTOkfIPVD1XOfJARt7RBRT1/Forest%20Moose%20Tracks%20-%20Woodland%20Pine%20Trees%20-%20LARGE%20SCALE%20A%20.jpg");
}

.text-container {
    width: 65vw; 
    background-color: rgb(150, 193, 142, .9);
}