.description {
    width: 70%;
    text-align: center;
    font-size: 1.3em;
}

.park-details {
    background-color: #E9E5D5;;
}

.park-fullname {
    font-size: 3em; 
}

.description-container {
    display: flex; 
    justify-content: center;
}

.info-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-info {
    padding-right: 70px; 
    padding-left: 70px; 
}

.link {
    text-decoration: underline;
}

