.region-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    background-color: #F5E8DD;
}

img {
    height: 250px; 
    width: 330px; 
}

a {
    text-decoration: none !important;
    color: inherit; 
}

h2 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}