.region-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    background-color: #E9E5D5;
    grid-gap: 25px; 
}
h3 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    /* position: absolute; */
    width: 200px;
    border-radius: 10px; 
}

img {
    height: 250px; 
    width: 330px; 
     
    border-radius: 5px; 
    opacity: .7;
    
}

.image {
   border: 5px solid rgb(56, 40, 25, .9);  
   &:hover {
        transform: scale(1.1)
    }
}

a {
    text-decoration: none !important;
    color: inherit; 
}

h2 {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}



main {
    background-color: #E9E5D5;
}

.region {
    display: flex;
    flex-direction: column;
    align-items: center;
}

