.park-grid {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    margin-top: 15px; 
}

.button-styling {
    background-color: #EADEC8;
    border-bottom: 4px solid #382819;
    margin-bottom: 10px;
}

.state-button {
    font-size: .8em; 
    width: 100px;
    border: 2px solid #382819;
    height: 25px; 
    margin-bottom: 15px; 
}

@media screen and (max-width: 1024px) {
    .park-grid {
        display: grid;  
        grid-template-columns: repeat(2, 1fr);
        justify-items: center; 
        margin-top: 15px; 
    }
}

@media screen and (max-width: 767px) {
    .park-grid {
        display: grid;  
        grid-template-columns: repeat(1, 1fr);
        justify-items: center; 
        margin-top: 15px; 
    }
}