.description {
    width: 70%;
    text-align: center;
    font-size: 1.3em;
}

.park-details {
    background-color: #CED8DF;
}

.park-fullname {
    font-size: 3em; 
}

.description-container {
    display: flex; 
    justify-content: center;
}

.info-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center; 
}

.details-image {
    border: 5px solid #382819;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-info {
    padding-right: 55px; 
    padding-left: 55px; 
}

.link {
    background-color: #ABBA80;
    border: solid 2px; 
    width: 180px; 
    border-radius: 20px; 
    height: 20px;
}

.link:hover {
    transform: scale(1.1);
    background-color: #fcffcd;
}

.tracker-image {
    height: 150px; 
    width: 130px;
}

.mountain {
    width: 100vw;
    height: 300px;
}

@media screen and (max-width: 1024px) {
    .description {
        font-size: 1.1em; 
    }
    .info-grid {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .park-fullname {
        font-size: 2.5em; 
    }
}

@media screen and (max-width: 767px) {
    .info-grid {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .park-fullname {
        font-size: 1.6em; 
    }
    .link {
        font-size: .8em; 
    }
    .description {
        font-size: 1em; 
    }
}